<!-- create2.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>create2 ploy</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>create2 ploy</h1>
    <form method="post" action="/create2">
      <label for="name">name:</label>
      <input type="text" id="name" name="name" />
      <br />
      <label for="brith">brith:</label>
      <input type="text" id="brith" name="brith" />
      <br />
      <label for="lastname">lastname:</label>
      <input type="text" id="lastname" name="lastname" />
      <br />
      
      <input type="submit" value="create2" />
    </form>
    <div class="link-center">
      <a href="/ploys">Back to List</a>
    </div>
  </body>
</html>