<!-- create2.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>create2 renjun</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>create2 renjun</h1>
    <form method="post" action="/create3">
      <label for="name">name:</label>
      <input type="text" id="name" name="name" />
      <br />
      <label for="lastname">lastname:</label>
      <input type="text" id="lastname" name="lastname" />
      <br />
      
      <input type="submit" value="create3" />
    </form>
    <div class="link-center">
      <a href="/renjuns">Back to List</a>
    </div>
  </body>
</html>